body{
    background-color: #AFACAD;
    font-family: "Lucida Console", Monaco, monospace;
}
header{
    color: black;
    margin: 0 auto;
    text-align: center;
}
h1{
    font-size: 50px;
}
div.projects {
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 35%;
    float: left;
}
div.socials {
    margin-lef: 7.5%;
    margin-right: 7.5%;
    width: 35%;
    float: left;
}
h2{
    text-align: center;
    font-size: 30px
}
ul {
    list-style-type: none;
    padding-inline-start: 0px;
    text-align: center;
}
.projects li {
    margin: auto;
    margin-top: 16px;
    padding: 6px;
    word-wrap: break-word;
    background-color: #ED474A;
    outline: 4px solid #5D090B;
    width: 65%;
}
.socials li {
    margin: auto;
    margin-top: 16px;
    padding: 6px;
    word-wrap: break-word;
    background-color: #B2ECE1;
    outline: 4px solid #257E7D;
    width: 65%;
}
a{
    margin: 16px;
    padding: 6px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}
