body{
    background-color: #AFACAD;
    font-family: "Lucida Console", Monaco, monospace;
}
header{
    color: black;
    margin: 0 auto;
    text-align: center;
}
h1{
    font-size: 50px;
}
div.projects {
    width: 50%;
    float: left;
}
div.socials {
    width: 50%;
    float: left;
}
h2{
    text-align: center;
    font-size: 30px
}
ul {
    list-style-type: none;
    padding-inline-start: 0px;
    padding-top: 16px;
    text-align: center;
}
li {
    margin: 16px;
    padding: 6px;
}
.projects a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    background-color: #ED474A;
    outline: 4px solid #5D090B;
}
.socials a {
    margin: 16px;
    padding: 6px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    background-color: #B2ECE1;
    outline: 4px solid #257E7D;
}
