.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.outerTile {
  padding: 0.25rem;
}

.tile {
  border-radius: 1rem;
  background-color: rgb(70, 70, 70);
  padding: 1rem;
  font-size: x-large;
  position: relative;
  width: 20rem;
  height: 4rem;
}

.left {
  float: left;
  height: 100%;
}

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.right {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-decoration: none;
}

.logo {
  height: 100%;
  width: 4rem;
}

.text {
  color: white;
  text-decoration: none;
}


.headerDiv {
  padding: 2rem;
}

.footerDiv {
  padding: 5rem;
}

.headerPhoto {  
  border-radius: 2rem;
  width: 18rem;
}


.wallpaperImage{
  height: 100%;
  width: 12rem;
}

.wallpaperTile{
  height: auto;
  width: 40rem;
  max-width: 80vw;    
  border-radius: 1rem;
  background-color: rgb(70, 70, 70);
  padding: 1rem;
  font-size: x-large;
  position: relative;
  display: flex;
  align-items: center;
}

.wallpaperLeft{
  display: flex;
  float: left;  
}

.wallpaperRight{
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-decoration: none;  
  padding-left: 2rem;
}

.headerText {  
  font-size: x-large;
}

.descriptionText {  
  font-size: medium;
}

a:link,a:visited,a:hover,a:active { 
  text-decoration: none; 
} 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
