.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.outerTile {
  padding: 0.25rem;
}

.tile {
  border-radius: 1rem;
  background-color: rgb(70, 70, 70);
  padding: 1rem;
  font-size: x-large;
  position: relative;
  width: 20rem;
  height: 4rem;
}

.left {
  float: left;
  height: 100%;
}

.right {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.logo {
  height: 100%;
  width: 4rem;
}

.text {
  color: white;
  text-decoration: none;
}


.headerDiv {
  min-height: 10rem;
  padding: 3rem;
}

.headerPhoto {  
  border-radius: 2rem;
  width: 18rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
